appdirs==1.4.4
arelle==2.2
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
backtrader==1.9.76.123
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==2.1.1
colorama==0.4.6
contourpy==1.0.6
cycler==0.11.0
dart-fss==0.3.18
DateTime==4.7
decorator==5.1.1
distlib==0.3.6
et-xmlfile==1.1.0
fake-useragent==1.1.1
filelock==3.8.2
finance-datareader==0.9.50
fonttools==4.38.0
halo==0.0.31
html5lib==1.1
idna==3.4
ipython-genutils==0.2.0
isodate==0.6.1
kiwisolver==1.4.4
log-symbols==0.0.14
lxml==4.9.2
matplotlib==3.6.2
multitasking==0.0.11
numpy==1.23.5
OpenDartReader==0.2.1
openpyxl==3.0.10
packaging==22.0
pandas==1.5.2
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==2.6.0
py==1.11.0
pybithumb==1.0.21
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
QuantStats==0.0.59
redis==4.4.0
requests==2.28.1
requests-file==1.5.1
scipy==1.9.3
seaborn==0.12.1
six==1.16.0
soupsieve==2.3.2.post1
spinners==0.0.24
tabulate==0.9.0
termcolor==2.1.1
tqdm==4.64.1
traitlets==5.7.1
urllib3==1.26.13
virtualenv==20.17.1
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.4
xmltodict==0.13.0
yfinance==0.1.90
zope.interface==5.5.2
